<h1>Pizzas</h1>

<img src="https://http.cat/100" alt="cat">

<h2>Name: <%= @pizza.name %></h2>
<h2>Price: $<%= @pizza.price %></h2>
<h2>Ingredients: <%= @pizza.pizzatype %></h2>
<h2><%= link_to("Back to the Menu", pizzas_path )%></h2>


